### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('ratings.csv')

data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
data[data['rating'] == 5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [16]:
data1 = pd.read_csv('power.csv')
data1.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [21]:
filtered_=data1[((data1.country =='Latvia') | (data1.country =='Lithuania') | (data1.country =='Estonia')) & ((data1.category == 4) | (data1.category == 12) | (data1.category == 21)) 
               & (data1.quantity >= 0) & (data1.year > 2004) & (data1.year < 2011) ]

print('Суммарное потребление стран Прибалтики: ', sum(filtered_["quantity"]))

Суммарное потребление стран Прибалтики:  240580.0

### Задание 3 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
    
    https://fortrader.org/quotes
    https://www.finanz.ru/valyuty/v-realnom-vremeni

In [8]:
df = pd.read_html('https://fortrader.org/quotes')[1]
df

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,74.57,-0.10,-0.13,NaN
1,Нефть WTI Цены на нефть WTI,73.42,-0.04,-0.05,NaN
2,Природный газ Цена на природный газ,3.67,0.01,0.33,NaN
3,Кофе,160.25,0.00,0.00,NaN
4,Кукуруза,686.60,-7.40,-1.07,NaN
5,Соя,350.70,4.20,1.21,NaN
6,Хлопок,87.18,-0.40,-0.46,NaN

In [9]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 791,"-0,9%",Nasdaq,14 528,"0,2%",Биткойн,35 646,"-0,7%",USD/RUB,727900,"0,0%"
1,РТС,1 640,"-1,8%",S&P500,4 292,"0,0%",Нефть,751,"0,0%",EUR/RUB,866305,"0,0%"
2,Dow,34 292,"0,0%",FTSE100,7 088,"0,2%",Золото,1 763,"0,1%",EUR/USD,11904,"0,0%"