### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [104]:
import pandas as pd

In [113]:
data = pd.read_csv('ratings.csv')

data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [174]:
data[data['rating'] == 5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [134]:
data1 = pd.read_csv('power.csv')
data1.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [177]:
filtered_=data1[((data1.country =='Latvia') | (data1.country =='Lithuania') | (data1.country =='Estonia')) & ((data1.category == 4) | (data1.category == 12) | (data1.category == 21)) 
               & (data1.quantity >= 0) & (data1.year > 2004) & (data1.year < 2011) ]

print('Суммарное потребление стран Прибалтики: ', sum(filtered_["quantity"]))

Суммарное потребление стран Прибалтики:  240580.0

### Задание 3 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
    
    https://fortrader.org/quotes
    https://www.finanz.ru/valyuty/v-realnom-vremeni

In [141]:
df = pd.read_html('https://fortrader.org/quotes')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,73.83,-0.18,-0.24,NaN
1,Нефть WTI Цены на нефть WTI,72.44,-0.44,-0.60,NaN
2,Природный газ Цена на природный газ,3.60,0.01,0.28,NaN
3,Кофе,162.45,-1.25,-0.76,NaN
4,Кукуруза,675.60,0.40,0.06,NaN
5,Соя,349.40,-2.60,-0.74,NaN
6,Хлопок,87.25,-0.18,-0.21,NaN

In [149]:
df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 826,"-0,2%",Nasdaq,14 501,"1,0%",Биткойн,34 316,"-0,3%",USD/RUB,723800,"0,2%"
1,РТС,1 670,"-0,1%",S&P500,4 291,"0,2%",Нефть,743,"-0,4%",EUR/RUB,862255,"0,1%"
2,Dow,34 283,"-0,4%",FTSE100,7 073,"-0,9%",Золото,1 774,"-0,2%",EUR/USD,11912,"-0,1%"